<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="javaBean" class="com.fyd.ioc_04.JavaBean" init-method="init" destroy-method="destroy"/>
    <!--设置作用域为多例-->
    <bean id="javaBean2" class="com.fyd.ioc_04.JavaBean2" scope="prototype"/>
</beans>